.pic {
	margin:auto;
	width:50%;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.search {
	margin:auto;
}


.container {
	position: relative;
}

.footer {
	position: absolute;
	bottom: 0;
}

.header {
	position absolute;
	top: 0;
}
